<mat-toolbar color="primary" class="mat-elevation-z6">
        <button mat-icon-button (click)="goBack()">
            <mat-icon aria-label="label">arrow_back</mat-icon>
        </button>
        <span>Movies4You</span>
</mat-toolbar>
<div class="movie-detail">
    <div class="head-section">
        <div class="section-img">
            <mat-card class="card-movie"> 
                <img *ngIf="movie?.Poster != 'N/A' " mat-card-image [src]="movie?.Poster">
                <img *ngIf="movie?.Poster == 'N/A' " mat-card-image src="../../../assets/img/default-movie.png">
            </mat-card>
        </div>
    </div>
    <div class="section-info">
        <mat-list role="list" class="list-info"> 
            <mat-list-item role="listitem"> <h1>{{movie?.Title}}</h1> </mat-list-item>
            <mat-list-item role="listitem">{{movie?.Year}} | {{movie?.Runtime}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"> 
                <h3>{{movie?.imdbRating}}</h3> <mat-icon color="yellow" style="color: #ececad;">star_rate</mat-icon>
                <div class="progress">
                    <mat-progress-bar mode="determinate" [value]="movie?.imdbRating * 10"></mat-progress-bar>
                </div>
                <p>{{movie?.imdbVotes}} Votes</p>
                
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"> {{movie?.Genre}} </mat-list-item>
        </mat-list>
        <div class="tab-section">
            <mat-tab-group>
                <mat-tab label="Plot">
                    <div class="tab-content">
                        <p>{{movie?.Plot}}</p>
                     </div>
                </mat-tab>
                <mat-tab label="Actors">
                    <div class="tab-content">
                        <p>{{movie?.Actors}}</p>
                    </div>
                </mat-tab>
                <mat-tab label="More">
                    <div class="tab-content">
                        <h3>Director:</h3>
                        <p>{{movie?.Director}}</p>
                        <h3>Writer</h3>
                        <p>{{movie?.Writer}}</p>
                        <h3>Country</h3>
                        <p>{{movie?.Country}}</p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>