.card-movie{
    max-width: 200px;
    margin: 10%;
}
.movie-detail{
    width: 100%;
    height: 750px;
    display: inline-flex;
}
.head-section{
    width: 15%;
    height: 100%;

}
.list-info{
    margin-top: 20px;
}
.tab-section{
    margin-top: 123px;
    
}
.tab-content{
    text-align: center;
    width: 450px;
    margin-left: 20px;
}
.section-img{
    width: 100%;
    height: 80%;
}

.section-info{
    width: 80%;
    height: 100%;
}
.progress{
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
}

/* <div class="movie-detail">
    <div class="head">
        <div class="section-img">
            <div class="img-poster"></div>
        </div>
        <div class="section-info">
            <div class="title"></div>
            <div class="rank"></div>
            <div class="genre"></div>
        </div>
    </div>
    <div class="tabs"></div>
    <div class="tabs-res"></div>
</div> */