<mat-toolbar color="primary" class="mat-elevation-z6">
    <span>Movies4You</span>
</mat-toolbar>
<app-search (movies)="getMovies($event)"></app-search>
<div class="conteiner">
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScroll()"
    >  
    <div class="test">
        <mat-card class="card-movie" *ngFor="let movie of movies" [routerLink]="['/detail', movie?.imdbID]"> 
          <mat-card-header>
            <mat-card-title>{{movie?.Title}}</mat-card-title>
          </mat-card-header>
            <img *ngIf="movie?.Poster != 'N/A' " width="300px" height="450px" mat-card-image [src]="movie?.Poster">
            <img *ngIf="movie?.Poster == 'N/A' " width="300px" height="450px" mat-card-image src="../../../assets/img/default-movie.png">
          <mat-card-content>
            <p>
              {{movie?.Year}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>SEE MORE</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>