.conteiner{
    width: 100%;
}

.test {
    margin-left: 12%;
    width: 80%;
}

.card-movie{
    max-width: 300px;
    min-height: 624px;
    min-width: 300px;
    margin-bottom: 20px;
    display: inline-grid;
    margin-left: 10px;
    margin-right: 10px;
}